name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Test
    runs-on: macos-12

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.0"
      - uses: sersoft-gmbh/xcodebuild-action@v2
        with:
          project: Placement.xcodeproj
          scheme: Placement
          destination: platform=iOS Simulator,OS=16.0,name=iPhone 13 Pro
          action: test
